<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matchpets">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="MatchPets"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchPets">
        <activity android:name="com.example.matchpets.Chat.ChatActivity"></activity>
        <activity android:name=".Matches.MatchesActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PetProfile" />
        <activity android:name=".MainActivity" /> <!-- create this activity to first page -->
        <activity android:name=".ChooseLoginRegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>